extends ../layout

block content   
    include ../inc/_breadcrumb
    div.container
        a.btn.btn-success(href="") Back to list
        <form style="padding: 30px 0">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">Product name</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Product name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Amount</label>
                    <input type="number" class="form-control" id="inputEmail4" placeholder="Amount">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Status</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option value="true">Active</option>
                        <option value="false">Unactive</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleFormControlSelect2">Categories</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="inputPassword4">Description</label>
                    <textarea name="description" id="description" rows="20" class="form-control">
                    </textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="inputPassword4">Image Cover</label>
                    <input type="file" id="inputEmail4" placeholder="">
                </div>
                <div class="form-group col-md-12 more-img"> 
                    <label for="inputPassword4">Other Images </label>
                    <button class="btn btn-success add-more-image" type="button">+</button>
                    <input type="file" name="image" id="inputEmail4" placeholder="">
                </div>
                <div class="form-group col-md-12 options"> 
                    <label for="inputPassword4">Options</label>
                    <div class="custom-switch custom-switch-label-yesno">
                        <input class="custom-switch-input" id="example_3" type="checkbox">
                        <label class="custom-switch-btn" for="example_3"></label>
                        <div class="custom-switch-content-checked">
                            <span class="text-success option-yn">Yes</span>
                        </div>
                        <div class="custom-switch-content-unchecked">
                            <span class="text-danger option-yn">No</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>